[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
matplotlib = "*"
requests = "*"
opencv-python = "*"
numpy = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.7"
